:root{
    --primary-color: #6C63FF;
    --secondary-color: #F5F2FE;
    --box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
    --main-font-family: 'Playfair Display', serif;
    --side-font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.intro{
    margin-top: 5rem;
    text-align: center;
}

.intro .greet{
    padding-top: 25px;
    font-size: 48px;
}

.intro .title{
    padding-top: 25px;
    font-size: 80px;
    font-weight: 700;
    font-family: var(--main-font-family);
}

.intro h3{
    padding-top: 25px;
    font-size: 23px;
    color: #4C4C4C;
    font-weight: 700;
    font-family: var(--side-font-family);
}


.controls{
    margin-bottom: 5rem;
    text-align: center;
    padding-top: 90px;
}

.controls a{
    text-decoration: none;
    margin: 20px;
    padding: 20px 15px;
    border-radius: 5px;
}

.controls .contact{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    box-shadow: var(--box-shadow);
    transition: all 200ms ease-in-out;
}

.controls .contact:hover{
    background-color: #5d58b4;
}

.controls .about{
    color: #6C63FF;
    border: 1px solid var(--primary-color);
    transition: all 200ms ease-in-out;
}

.controls .about:hover{
    background-color: #6C63FF;
    color: white;
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
}

.launch{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    box-shadow: var(--box-shadow);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

.launch:hover{
    background-color: #5d58b4;
}

.container h2{
    font-size: 3rem;
    font-family: var(--main-font-family);
    font-weight: 700;
}

.container p{
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-family: var(--side-font-family);
    font-weight: 400;
}

.about-intro{
    margin-top: 5rem;
    text-align: center;
}

.about-intro a{
    color: var(--primary-color);
    cursor: pointer;
}

.about-intro h1{
    padding-top: 25px;
    font-size: 80px;
    font-weight: 700;
    font-family: var(--main-font-family);
}

.about-intro h3{
    padding-top: 25px;
    font-size: 23px;
    color: #4C4C4C;
    font-weight: 700;
    font-family: var(--side-font-family);
}

.about-para{
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.about-para p{
    margin: 10px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    width: 350px;
}

.para{
    margin: 30px 0;
    font-size: 1.1rem;
    font-family: var(--side-font-family);
}

.contact-info{
    margin: 50px;
    text-align: center;
}

.contact-info h2{
    font-size: 48px;
    font-weight: 700;
}

.contact-info a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

.contact-info a:hover{
    text-decoration: underline;
}

.about-section {
    padding: 160px 20px;
  }
  
  .about-section h1 {
    font-size: 64px;
    line-height: 80px;
    font-family: var(--main-font-family);
  }
  
  .about-section h2 {
    font-size: 18px;
    font-family: var(--side-font-family);
  }
  
  .about-section-content {
    margin: 30px;
  }
  
  .btn-branding {
    background: #6C63FF;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }
  
  .btn-branding-outline {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }
  
  .project-desciption {
    padding: 120px 60px;
  }

.content-container {
    padding: 160px 20px;
  }
  
  .content h1 {
    font-size: 64px;
    line-height: 80px;
    font-family: var(--side-font-family);
  }
  
  .content h2 {
    font-size: 18px;
    font-family: var(--side-font-family);
  }
  
  .content h3 {
    font-size: 24px;
    line-height: 1.5;
  
    font-family: var(--side-font-family);
  }
  
  .content p {
    font-size: 14px;
  }
  
  .content {
    margin: 30px;
  }

@media (max-width: 600px) {
    .intro .greet{
        font-size: 38px;
    }
    .intro .title{
        font-size: 50px;
    }
    .intro h3{
        font-size: 18px;
    }
    .about-intro h1{
        font-size: 50px;
    }
    .about-intro h3{
        font-size: 18px;
    }
    .contact-info h2{
        font-size: 38px;
    }
    .contact-info a{
        font-size: 25px;
    }
    .container h2{
        text-align: center;
        font-size: 2.5rem;
    }
    .container p{
        text-align: center;
    }
    .launch{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .about-section {
        text-align: center;
        padding: 0;
      }
      .content {
        text-align: center;
        padding: 0;
      }
    
      .project-desciption {
        padding: 0;
        text-align: center;
      }

}